*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color:var(--bg-color);
    transition: 0.8s all;
}

/* create css class variables */
/* first create one class and add to container */
/* logic is add and remove class by creating opposite class */
.--container--light{
    --bg-color: #fffdde;
    --bg-header-color:black;
    --header-color:white;
    --toggle-bg-color:#c7c7c7;

}

.--container--dark{
    --bg-color:black;
    --bg-header-color:white;
    --header-color:black;
    --toggle-bg-color:black;

}


.container--header{
    background:var(--bg-header-color);
    color:var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header--left{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 10px;

}
.header--left span{
    font-size: 28px;
    letter-spacing: 2px;
    margin-right: 30px;
}
.header--center ul{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
.header--center ul li{
    font-size: 18px;
    cursor: pointer;
}

.container--middle--content{
    width: 100%;
    padding: 20px;
    display: flex;
}

.middle--left{
    width: 50%;
}
.middle--title{
    padding:50px;
}

.middle--title span{
    font-size: 50px;
    font-weight: 600;
    color:var(--bg-header-color);

}
.middle--action button{
    font-size: 20px;
    padding: 10px;
    color:var(--header-color);
    background:var(--bg-header-color);
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}
.middle--action button i{
    margin-left: 10px;
    font-size:20px;
}

.middle--action{
    padding: 50px;
}

.middle--content p{
    color: var(--bg-header-color);
    columns: 2;
    column-width: 10px;
    column-rule: 2px solid var(--bg-header-color);

}
.middle--content{
    padding:25px;
}


.middle--right{
    width: 50%;
}
.image--container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.image--container img{
    width: 400px;
    border-radius: 5px;
}
.header--right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px
}

.toggler{
    width:60px;
    height: 30px;
    background:var(--toggle-bg-color);
    border-radius:50px;
    position: relative;
    cursor: pointer;
}
.toggler--content{
    width: 27px;
    height: 27px;
    background:white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    
    padding: 10px;
    /* it is for smooth move */
    transition: 0.4s all; 
}


/* creat toggle--light class and add to .toggler--content */
/* creat a opposite class which have to add after remove above */
.toggle--light{
    left: 2px;

}
.toggle--dark{
    left: 29px;
}